:root {
    --size: 200px;
    --buttons-size: 60px;
    --buttons-img-size: 35px;
}

@media screen and (min-width: 900px) and (min-height: 600px) {
    :root {
        --size: 350px;
        --buttons-size: 120px;
        --buttons-img-size: 70px;
    }
}

body {
    height: 100wh;
}

.front-face {
    width: var(--size);
    height: var(--size);
    z-index: 1;
    border: 3px solid black;
}

.disk {
    width: var(--size);
    height: var(--size);
    z-index: -1;
    position: absolute;
    left: 0%;
    transition: left ease-in-out .6s;
}

.container {
    width: 100vw;
    display: flex;
    place-content: center;
}

.controls {
    position: fixed;
    bottom: 1.5%;
    gap: 0px 7px 0px;
}

/* .disk-box:hover .disk {
    left: 40%;
    animation: rotate linear 1s infinite;
} */

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.disk-box {
    display: flex;
    position: relative;
    width: var(--size);
    height: var(--size);
}

.play-button img {
    margin-left: 6.5px;
    width: var(--buttons-img-size);
    height: var(--buttons-img-size);
}

.stop-button img {
    margin-left: 1px;
    width: var(--buttons-img-size);
    height: var(--buttons-img-size);
}

.play-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--buttons-size);
    height: var(--buttons-size);
    border-radius: 50%;
    background-color: rgb(59 59 194);
    border: solid black 1px;
}

.stop-button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--buttons-size);
    height: var(--buttons-size);
    border-radius: 50%;
    background-color: rgb(59 59 194);
    border: solid black 1px;
}

